<div class="col-sm-8 col-xs-12">
  <h2>JSON Documents</h2>
  
  <%= link_to 'New JSON Document', new_record_path, class: 'btn btn-primary btn-sm pull-left', style: 'margin-right: 20px;' %>
  <%= link_to 'Upload JSON Documents', import_records_path, class: 'btn btn-primary btn-sm pull-left' %>
  
  <br><br>
  
  <form action="/records" method="get">
    <div class="input-group col-sm-12 col-xs-12">
      <input name="search" type="text" placeholder="Search your JSON documents" class="form-control" autofocus>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </span>
    </div>
  </form>

  <br><br>
  
  <% if @records.present? %>
    <table class='table'>
      <% @records.each do |record| %>
        <tr>
          <td><%= link_to record.id, record %></td>
          <td><code><%= record.json %></code></td>
        </tr>
      <% end %>
    </table>
    
    <%= will_paginate @records, renderer: BootstrapPagination::Rails %>
  <% end %>
  
</div>
