<div class="col-sm-8 col-xs-12">
  <h2>JSON Documents</h2>
  
  <%= link_to 'New JSON Document', new_record_path, class: 'btn btn-primary btn-sm pull-left', style: 'margin-right: 20px;' %>
  <%= link_to 'Upload JSON Documents', import_records_path, class: 'btn btn-primary btn-sm pull-left' %>
  
  <br><br>
  
  <h3>Search Documents</h3>
  
  <form action="/records" method="get" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-10 col-xs-12">
        <label class="col-sm-2 col-xs-2 control-label">Key:</label>
        <div class="col-sm-10 col-xs-10">
          <%= select_tag :key, options_for_select(current_user.json_keys, session[:search_key]), class: 'form-control' %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-xs-12">
        <label class="col-sm-2 col-xs-2 control-label">Search:</label>
        <div class="col-sm-10 col-xs-10">
          <input name="search" type="text" placeholder="Search your JSON documents" class="form-control" autofocus>
        </div>
      </div>

      <div class="col-sm-2 col-xs-12">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <br><br>
  
  <% if @records.present? %>
    <b><%= @records.total_entries %> records found.</b>
    <br><br>
  
    <table class="table table-striped">
      <% @records.each do |record| %>
        <tr>
          <td><div class="record-div-fixed"><a href="<%= url_for(record) %>" class="record-link"><%= truncate(record.title, length: 200, escape: false) %></a></div></td>
          <td class="record-time"><%= time_ago_in_words(record.updated_at) %> ago</td>
        </tr>
      <% end %>
    </table>
    
    <%= will_paginate @records, renderer: BootstrapPagination::Rails %>
  <% end %>
  
</div>
