<div class="col-sm-12 col-xs-12" id="json_show_page">
  <h2>JSON Document: <%= @record.id %></h2>
  
  You can directly edit the JSON document below.
  
  <br><br>

  <div>
    <%= raw json_as_html(@record) %>
  </div>
  
  <div class="meteorite" data-bind_key="<%= @record.bind_key %>" data-bind_attr="json">
    <%= @record.json %>
  </div>
  
  <div class="meteorite" data-bind_key="<%= @record.bind_key %>" data-bind_attr="updated_at">
    <%= @record.updated_at %>
  </div>
  
  <%= render 'form' %>
  
  <br><br><br><br>
  
  <h3>Want to delete this document?</h3>
  <%= button_to 'Delete Document', record_path(@record), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this JSON document?' }, :class => 'btn btn-danger btn-sm' %>
</div>

<script>
  // initialize websocket
  var ws = new WebSocket("ws://192.168.56.101:8080/");
  
  ws.onopen = function() {
    // listen to changes
    ws.send(JSON.stringify({ action: 'subscribe', key: '<%= @record.bind_key %>' }));
  }
  
  ws.onmessage = function(msg) {
    // parse the json message
    // todo: handle non-json messages
    var json = JSON.parse(msg.data);
    //var text = json.json.text;
    //var title = json.json.title;
    // update UI
    //$('.bind-text').text(text);
    //$('.bind-title').text(title);
    
    // for each meteorite class
    $('.meteorite').each(function() {
      // if the bind keys match
      if ($(this).data('bind_key') === json.bind_key) {
        // get the bind data
        var bind_data = JSON.parse(json.bind_data);
        // desired attribute
        var bind_attr = $(this).data('bind_attr');
        // get the attribute data
        var attr_data = JSON.stringify(bind_data[bind_attr]);
        // update the attribute
        $(this).text(attr_data);
      }
    });
  }
</script>

